@import url("https://fonts.googleapis.com/css?family=Quicksand:400,500,700&display=swap");
body {
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  color: #2c2c2c;
  background-color: #efeeee;
}

p,
a,
h1,
h2,
h3,
h4,
h5 {
  font-weight: 300;
}

h1 {
  color: #333;
}

h2 {
  color: #444;
  margin-top: 0.5em;
}

h3 {
  color: #888;
  margin-top: 0.5em;
}

p {
  color: #888;
  padding-bottom: 0.5em;
}

code {
  border: 1px solid #00000022;
  border-radius: 4px;
  padding: 2px;
  background: rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 0 4px -3px #888;
}

strong,
code {
  color: #666;
  font-weight: 500;
}

.highlighttable {
  margin-top: 0.5em;
  border-radius: 1em;
  background: rgba(0, 0, 0, 0.01);
  border: 1px solid #ddd;
  border-collapse: unset !important;
}
.highlighttable .highlight {
  background: none;
}
.highlighttable .c1 {
  color: #bbb;
}

a {
  color: #869b40;
  transition: 0.5s;
}
a:hover {
  color: #b0d82b;
}

.active {
  color: #b0d82b;
  filter: grayscale(0);
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

header {
  text-align: center;
  position: fixed;
  color: #869b40;
  z-index: 1100;
  display: flex;
  align-items: center;
}
header nav ul {
  box-shadow: 16.82px 16.82px 30px #0909092b, -16.82px -16.82px 30px #ffffff70;
  background-color: #efeeee;
  border-radius: 2.5em;
  border: 1px solid #00000015;
  padding: 0.6em 1.2em 0.6em 1.2em;
  position: fixed;
  top: 0.5em;
  left: 0.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 9em;
}
header nav ul li a i {
  vertical-align: middle;
}
header nav ul li a {
  color: #afafaf;
}
header nav ul li .active {
  color: #b0d82b;
  filter: grayscale(0);
}
header nav ul img,
header nav ul .logo {
  display: block;
  height: 2em;
}
header nav ul .logo {
  filter: grayscale(1);
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes line-fill {
  from {
    stroke: rga(0, 0, 0, 0);
  }
  to {
    stroke: black;
  }
}
@keyframes arrow-opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#start {
  height: 100vh;
}
#start #start-title {
  margin-bottom: 2em;
  max-width: 1200px;
  width: 90vw;
  height: auto;
  stroke: #888;
  stroke-width: 0.05;
}
#start #start-title #diagonalHatch {
  animation: line-fill 4s ease forwards 2.5s;
}
#start #start-title path:nth-child(1) {
  stroke-dasharray: 23.3118057251;
  stroke-dashoffset: 23.3118057251;
  animation: line-anim 2s ease forwards;
}
#start #start-title path:nth-child(2) {
  stroke-dasharray: 18.3662223816;
  stroke-dashoffset: 18.3662223816;
  animation: line-anim 2s ease forwards 0.1s;
}
#start #start-title path:nth-child(3) {
  stroke-dasharray: 19.9390830994;
  stroke-dashoffset: 19.9390830994;
  animation: line-anim 2s ease forwards 0.2s;
}
#start #start-title path:nth-child(4) {
  stroke-dasharray: 7.8118152618;
  stroke-dashoffset: 7.8118152618;
  animation: line-anim 2s ease forwards 0.3s;
}
#start #start-title path:nth-child(5) {
  stroke-dasharray: 20.977848053;
  stroke-dashoffset: 20.977848053;
  animation: line-anim 2s ease forwards 0.4s;
}
#start #start-title path:nth-child(6) {
  stroke-dasharray: 20.5623683929;
  stroke-dashoffset: 20.5623683929;
  animation: line-anim 2s ease forwards 0.5s;
}
#start #start-title path:nth-child(7) {
  stroke-dasharray: 13.8216333389;
  stroke-dashoffset: 13.8216333389;
  animation: line-anim 2s ease forwards 0.6s;
}
#start #start-title path:nth-child(8) {
  stroke-dasharray: 12.9788265228;
  stroke-dashoffset: 12.9788265228;
  animation: line-anim 2s ease forwards 0.7s;
}
#start #start-title path:nth-child(9) {
  stroke-dasharray: 14.0318078995;
  stroke-dashoffset: 14.0318078995;
  animation: line-anim 2s ease forwards 0.8s;
}
#start #start-title path:nth-child(10) {
  stroke-dasharray: 20.291135788;
  stroke-dashoffset: 20.291135788;
  animation: line-anim 2s ease forwards 0.9s;
}
#start #start-title path:nth-child(11) {
  stroke-dasharray: 17.350522995;
  stroke-dashoffset: 17.350522995;
  animation: line-anim 2s ease forwards 1s;
}
#start #start-title path:nth-child(12) {
  stroke-dasharray: 14.679186821;
  stroke-dashoffset: 14.679186821;
  animation: line-anim 2s ease forwards 1.1s;
}
#start #start-title path:nth-child(13) {
  stroke-dasharray: 17.2723655701;
  stroke-dashoffset: 17.2723655701;
  animation: line-anim 2s ease forwards 1.2s;
}
#start #start-title path:nth-child(14) {
  stroke-dasharray: 7.8118743896;
  stroke-dashoffset: 7.8118743896;
  animation: line-anim 2s ease forwards 1.3s;
}
#start .text-title {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  z-index: 2;
  height: 80vh;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#start .arrow-down {
  width: 4em;
  height: 4em;
  align-content: center;
  margin: 0 auto;
  display: flex;
  color: #b0d82b;
  filter: contrast(1);
}
#start .arrow-down:hover {
  filter: contrast(1.2);
}
#start .arrow-down i {
  opacity: 0;
  font-size: 3em;
  animation: arrow-opacity 3s ease forwards 3s;
  margin: auto;
}

.border {
  border: 1px solid #333;
}

#portfolio {
  height: 92vh;
  padding-bottom: 3vh;
  padding-top: 1em;
  max-width: 1000px;
  margin: auto 1em;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: auto;
  grid-auto-rows: auto;
}
#portfolio .kolumna {
  border-radius: 2em;
  display: flex;
  justify-content: center;
  background-size: cover;
  background-position: center;
  filter: grayscale(1);
  box-shadow: 16.82px 16.82px 30px #0909092b, -16.82px -16.82px 30px #ffffff;
}
#portfolio .kolumna:hover {
  filter: grayscale(0);
}
#portfolio .kolumna h2 {
  margin: auto;
  color: #fff;
  text-shadow: 0 0 15px black, 0 0 23px black;
  font-weight: 500;
}

video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  min-width: 100vh;
  min-height: 32vh;
  width: auto;
  height: auto;
  overflow: hidden;
  z-index: -1;
}

.video-viewport {
  background-color: #333;
  position: relative;
  overflow: hidden;
}

#about h1,
#contact h1 {
  text-align: center;
  padding-bottom: 1em;
  font-size: 2em;
}
#about h3,
#contact h3 {
  text-align: center;
  font-size: 1.5em;
}
#about h2,
#contact h2 {
  margin-top: 0.5em;
  font-size: 1.3em;
}
#about p,
#contact p {
  text-align: justify;
}

#contact p {
  text-align: center;
  position: relative;
  z-index: 1;
}

#about {
  align-items: center;
  justify-items: center;
  padding-top: 2em;
}
#about .image-me {
  width: inherit;
  align-items: center;
  justify-items: center;
}
#about img {
  display: block;
  width: 16em;
  border-radius: 50%;
  padding: 3em auto;
  margin: auto;
  margin-bottom: 1em;
  border-width: 2px;
  box-shadow: 16.82px 16.82px 30px #0909092b, -16.82px -16.82px 30px #ffffff;
}
#about .text {
  margin: 0 1em;
  padding-bottom: 1em;
  text-align: justify;
}

#contact .contact-info {
  border-top: 1px solid #ddd;
  padding-top: 1em;
  display: block;
  margin: 2em auto;
  width: 16em;
}
#contact .contact-info table {
  border-collapse: collapse;
  width: 100%;
}
#contact .contact-info table td {
  padding: 0 0.5em;
  color: #888;
}
#contact .contact-info table td:first-child {
  margin: 0;
  font-weight: 500;
  font-style: bold;
  border-right: 1px solid #ddd;
}
#contact #contact-map {
  width: inherit;
  height: 50vh;
  margin: 0 1em;
  box-shadow: 16.82px 16.82px 30px #0909092b, -16.82px -16.82px 30px #ffffff;
  border-radius: 4em;
}
#contact #contact-map .leaflet-tile-pane {
  filter: grayscale(1);
}
#contact #contact-map .leaflet-marker-icon {
  filter: hue-rotate(230deg);
}
#contact #contact-map a {
  color: #869b40;
}
#contact #contact-map .leaflet-popup-content {
  text-align: center;
  margin: 10px 22px;
}
#contact #contact-map .leaflet-popup-content-wrapper {
  border-radius: 50px;
}
#contact #contact-map .leaflet-popup-close-button {
  right: 4px;
  top: 4px;
}

footer {
  text-align: center;
  padding: 2em 0 8em 0;
}

blockquote {
  color: #888;
  max-width: 30em;
  text-align: center;
  margin: 2em auto auto auto;
}

.photography,
.graphic,
.sketchbook,
.projects,
.motion-picture {
  padding-top: 4em;
  text-align: center;
}
.photography h1,
.graphic h1,
.sketchbook h1,
.projects h1,
.motion-picture h1 {
  margin-top: 1em;
  position: relative;
  z-index: inherit;
}
.photography h1:first-of-type,
.graphic h1:first-of-type,
.sketchbook h1:first-of-type,
.projects h1:first-of-type,
.motion-picture h1:first-of-type {
  margin-top: 0px;
}
.photography ul,
.graphic ul,
.sketchbook ul,
.projects ul,
.motion-picture ul {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 1em;
  margin: 0 1em;
}
.photography ul li,
.graphic ul li,
.sketchbook ul li,
.projects ul li,
.motion-picture ul li {
  align-content: center;
  border-radius: 1em;
  overflow: hidden;
  height: 100vw;
  box-shadow: 7px 7px 14px #0909092b, -7px -7px 14px #ffffff;
}
.photography ul li *,
.graphic ul li *,
.sketchbook ul li *,
.projects ul li *,
.motion-picture ul li * {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.photography ul .panorama,
.graphic ul .panorama,
.sketchbook ul .panorama,
.projects ul .panorama,
.motion-picture ul .panorama {
  width: 100% !important;
  height: auto !important;
  grid-column: 1/3;
}

.image-title {
  position: relative;
  bottom: 2em;
  left: 1em;
  color: white;
  height: auto !important;
  width: auto !important;
}

.motion-picture ul li {
  width: 100%;
  height: 46vw;
}

#project-list {
  display: grid;
  grid-template-columns: auto;
  grid-auto-rows: max-content;
  grid-gap: 1em;
  margin: 0 1em;
}
#project-list a,
#project-list a:hover,
#project-list a:visited {
  color: #fff;
}
#project-list li {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 16.82px 16.82px 30px #0909092b, -16.82px -16.82px 30px #ffffff;
}
#project-list img {
  filter: brightness(0.9);
  transition: 0.5s;
}
#project-list img:hover {
  filter: brightness(1);
}
#project-list .entry-title {
  bottom: 0;
  left: 0;
  transform: translate(0, -100%);
  position: relative;
  height: auto !important;
  padding: 0.5em 0;
  text-shadow: 0 0 0.5em black;
}
#project-list .entry-title h2 {
  width: auto;
  height: auto;
  color: #fff;
}

.code,
.web-design {
  padding-top: 5em;
  margin: 0 1em;
}
.code img,
.web-design img {
  max-width: 100%;
  max-height: 50vh;
}
.code ul:first-child,
.web-design ul:first-child {
  display: flex;
  list-style: none;
  padding: 0;
  width: 100%;
}
.code ul:first-child li,
.web-design ul:first-child li {
  float: left;
  padding: 10px;
  margin: auto;
}
.code ul:first-child li img,
.web-design ul:first-child li img {
  filter: brightness(0.25);
  width: auto;
  height: 50px;
}
.code h1,
.web-design h1 {
  padding-top: 1em;
  text-align: center;
}
.code h2,
.web-design h2 {
  padding-top: 0.5em;
}
.code p,
.code ul,
.code li,
.web-design p,
.web-design ul,
.web-design li {
  color: #888;
  text-align: justify;
  list-style: outside;
  list-style-position: outside;
  padding-bottom: 0.3em;
}
.code li,
.web-design li {
  margin-left: 2em;
}
.code ul:first-child li,
.web-design ul:first-child li {
  list-style: none;
}

#project-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
#project-content .project-info {
  padding: 1em 1em 1em 1em;
  width: 150px;
  flex: auto;
}
#project-content .project-info h1:first-of-type {
  font-size: 2em;
  margin-left: 2.6em;
}
#project-content .project-info table {
  vertical-align: middle;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1em;
}
#project-content .project-info table td {
  padding: 0.1em 0.5em;
  color: #888;
}
#project-content .project-info table td:first-child {
  width: 4.3em;
  margin: 0;
  text-align: right;
  font-weight: 500;
  border-right: 1px solid #ddd;
}
#project-content .project-info p {
  text-align: justify;
}
#project-content #project-map {
  height: 30em;
  width: 100vw;
  box-shadow: 16.82px 16.82px 30px #0909092b, -16.82px -16.82px 30px #ffffff;
  border-bottom: 1px solid rgba(128, 128, 128, 0.2);
}
#project-content #project-map a {
  color: #869b40;
}
#project-content #project-map-placeholder {
  height: 4em;
  width: 100vw;
  flex: auto;
}
#project-content .project-gallery {
  display: grid;
  grid-template-columns: auto;
  grid-auto-rows: max-content;
  grid-gap: 1em;
  margin: 0 1em;
  margin-top: 1em;
}
#project-content .project-gallery .project-image {
  background-color: #333;
  flex: auto;
  float: left;
  transition: 0.5s;
  max-height: 30em;
  border-radius: 1em;
  overflow: hidden;
  box-shadow: 7px 7px 14px #0909092b, -7px -7px 14px #ffffff;
}
#project-content .project-gallery .project-image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog #posts {
  max-width: 100vw;
  width: max-content;
  margin: auto;
}
.blog #posts li {
  border-top: 1px solid #ddd;
  padding-left: 0;
  margin: 0.2em;
  flex: max-content;
}
.blog #posts li a {
  padding: 0 1em;
}
.blog #posts li h2 {
  color: inherit;
}
.blog #posts li time {
  color: #888;
  font-size: 0.8em;
}

#project-content.blog {
  max-width: 695px;
  margin: auto;
}
#project-content.blog h1 {
  margin-left: 0 !important;
}
#project-content.blog .code {
  max-width: auto;
}
#project-content.blog li {
  list-style: inside;
  margin-left: 2em;
  color: #888;
}
#project-content.blog img {
  max-width: 100%;
  border: 1px solid #333;
}

.lightbox {
  display: none;
  position: fixed;
  z-index: 2000;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
}
.lightbox img {
  max-width: 95vw;
  max-height: 95vh;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  position: absolute;
  border: 1px solid #333;
  border-width: 2px;
}
.lightbox:target {
  outline: none;
  display: block;
}

header nav ul {
  justify-content: space-around;
  top: unset;
  bottom: 0.3em;
  width: 80vw;
  left: 6vw;
  transition: 300ms;
}
header nav ul .material-icons {
  font-size: 2.2em;
}

header nav ul:hover {
  box-shadow: 0 3px 12px 0 rgba(32, 33, 36, 0.25);
  transform: translate(0px, -3px);
}

.subheader {
  box-shadow: 16.82px 16.82px 30px #0909092b, -16.82px -16.82px 30px #ffffff70;
  background-color: #efeeee;
  border-radius: 2.5em;
  border: 1px solid #00000015;
  padding: 0.6em 1.2em 0.6em 1.2em;
  position: fixed;
  top: 0.5em;
  left: 0.5em;
  border-radius: 1.5em 1.5em 0em 0em;
  padding: 0.3em 3em;
  position: fixed;
  display: flex;
  align-items: center;
  top: unset;
  height: 2.8em;
  bottom: 3.5em;
  transform: translate(-50%, 0);
  left: 50vw;
}
.subheader h2 {
  margin: 0;
  color: #869b40;
}

/* Set the background color of body to tan */
/* On screens that are 600px or less, set the background color to olive */
@media screen and (min-width: 651px) {
  header nav ul {
    top: 0.5em;
    left: 0.5em;
    justify-content: space-between;
    width: 9em;
    bottom: unset;
  }
  header nav ul .material-icons {
    font-size: 1.5em;
  }

  header .subheader {
    box-shadow: 16.82px 16.82px 30px #0909092b, -16.82px -16.82px 30px #ffffff70;
    background-color: #efeeee;
    border-radius: 2.5em;
    border: 1px solid #00000015;
    padding: 0.6em 1.2em 0.6em 1.2em;
    position: fixed;
    top: 0.5em;
    left: 0.5em;
    bottom: unset;
    display: flex;
    align-items: center;
    height: 2.8em;
    padding: 0.2em 1.2em 0.2em 11.5em;
    left: 0.5em;
    transform: unset;
  }
  header .subheader h2 {
    font-size: 1.3em;
    margin: 0 0.5em;
    color: #869b40;
  }

  #start #start-title {
    stroke-width: 0.02;
  }

  #portfolio {
    height: 80vh;
    padding: 10vh 0;
    max-width: 1000px;
    margin: auto;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: auto auto auto;
    grid-auto-rows: auto;
  }

  #project-list {
    grid-template-columns: auto auto;
  }
  #project-list li {
    width: 100%;
    height: 50vw;
  }

  #about .text,
.page-content.code,
.web-design {
    max-width: 600px;
    margin: auto;
  }

  #project-content .project-gallery {
    grid-template-columns: auto auto;
  }
  #project-content .project-gallery .project-image {
    width: 100%;
    height: 50vw;
  }
  #project-content #project-map {
    height: auto;
    min-height: 400px;
    width: 400px;
    border-radius: 1em;
    margin: 1em;
    box-shadow: 16.82px 16.82px 30px #0909092b, -16.82px -16.82px 30px #ffffff;
    border: 1px solid rgba(128, 128, 128, 0.1);
  }

  footer {
    padding: 2em 0;
  }
}
/* On screens that are 992px or less, set the background color to blue */
@media screen and (min-width: 992px) {
  .container-fluid {
    max-width: 1200px;
    margin: auto;
  }

  .photography ul,
.graphic ul,
.sketchbook ul,
.projects ul,
.motion-picture ul {
    grid-template-columns: auto auto auto;
  }
  .photography ul li,
.graphic ul li,
.sketchbook ul li,
.projects ul li,
.motion-picture ul li {
    height: 32.6666666667vw;
    max-height: 400px;
  }

  .motion-picture ul {
    grid-template-columns: auto auto;
  }
  .motion-picture ul li {
    height: 300px;
  }

  #project-list {
    grid-template-columns: auto auto auto;
  }
  #project-list li {
    max-height: 400px;
  }
  #project-list img {
    filter: brightness(0.8) grayscale(1);
    transition: 0.5s;
  }
  #project-list img:hover {
    filter: brightness(1);
  }

  ul {
    break-before: avoid-column;
  }

  ul,
h2 {
    -webkit-column-break-inside: avoid;
    /* Chrome, Safari, Opera */
    page-break-inside: avoid;
    /* Firefox */
    break-inside: avoid;
    /* IE 10+ */
    break-after: avoid;
    break-before: all;
  }

  #project-content .project-image {
    width: 49.78%;
  }
}
@media screen and (min-width: 1283px) {
  nav ul,
.subheader {
    left: calc(50% - 630px) !important;
  }
}

/*# sourceMappingURL=style.css.map */
