:root {
    --color: #378400;
    color: var(-color);
    background-color: #f9f9f9;
    font-family: "Segoe UI", sans-serif;
    font-weight: 100;
}

html {
    scroll-snap-type: y mandatory;
    overflow-x: hidden;
}

.codeblock pre {
    padding-top: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}

code {
    background-color: #cfee8b;
    padding: 2px;
    border-radius: .3rem;
}

body {
    padding: 0;
}

ul, ol {
    padding-left: 1rem;
    text-align: left;
    max-width: 80vw;
}


ul ul {
padding-left: 1em;  
}

h1, h2, h3, p, a, li, footer {
color: var(--color);
font-weight: 100;
}

h1 {
font-weight: 400;
font-size: 30px;
border-top: 2px solid var(--color);
border-bottom: 2px solid var(--color);
padding: .3rem 0rem
}

p, a, li {
opacity: 0.7;
}

p img {
max-width: 100%;
height: auto;
max-height: 80vh;
border-radius: .5rem;
border: 1px dashed gray;
box-shadow: 0 5px 10px -5px gray;
object-fit: cover;
object-fit: contain;
}

strong {
font-weight: 700;
}


.trzy-kolumny {
display:grid; 
grid-template-columns: 1fr 1fr 1fr;
    grid-gap:1rem; 
    text-align: left;
}
.dwie-kolumny {
display:grid; 
grid-template-columns: 1fr 1fr 1fr;
    grid-gap:1rem; 
    text-align: left;
}

@media print {
    h2, h3, p, a, li, footer {
        color: black;
        font-weight: 100;
        }
}